name: CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build and run Docker Compose
      run: |
        timeout 30s docker-compose up --abort-on-container-exit || echo "Job timed out after 50 seconds"
        docker-compose down
      env:
        SECRET_KEY: ${{secrets.SECRET_KEY}}


    - name: Run tests with Pytest
      run: |
        python src/manage.py test src.tests.test_models
        python src/manage.py test src.tests.test_views
        
        
